@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Inter Tight', sans-serif; */
}

body {
    font-size: 1.6rem;
    background-color: #121212;
    color: #E0E0E0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: auto;
    background-color: #121212;
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input, select, textarea {
    border: 1px solid #424242;
    background-color: #1E1E1E;
    color: #E0E0E0;
    /* Add your desired border color */
    padding: 8px;
    /* Optional: Add padding to make the input look more visually appealing */
}

select option {
    background-color: #1E1E1E;
    color: #E0E0E0;
}

.showBorder {
    border: 1px solid red;
}

.line {
    position: relative;
}

.line::after,
.line::before {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #a6a5a5;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #1E1E1E;
    color: #E0E0E0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.y-scrollbar {
    scrollbar-width: thin;
}

.y-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0;
}


.y-scrollbar::-webkit-scrollbar-thumb {
    background-color: #424242;
    border-radius: 8px;
}

/* Dark mode scrollbar for webkit browsers */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #1E1E1E;
}

::-webkit-scrollbar-thumb {
    background: #424242;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555555;
}